@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: white;
}
body{
    
    min-height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgb(55, 56, 59) 23.8%,
        rgb(2, 3, 17) 92%
      );  }

h4 {
    margin: 0;
}

/* header {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    background-color: rgb(22, 22, 22);
    color: #fff;
} */
.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 2em auto;

    padding: 1em;
    max-width: 25%;

    background-color: rgb(94, 91, 91) 92%;
    border-radius: 5em;
    color: white;
    box-shadow: 3px 3px 5px #000000, -1px -5px 5px #343434;
}
#cover {
    border-radius: 10%;

}

.playing-song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    
}
.buttonsPlayer {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;  
}

img {
    margin: 0.75rem 0;
    max-width: 15em;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5), -1px -5px 5px rgba(52, 52, 52, .7);
    
}
.songlist {
    margin: auto;
    padding: 2em;
    gap: 1em;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
} 

ul {
    list-style-type: none;
}
#song {
    display: flex;
    justify-content: space-between;

    border-bottom: solid rgba(220, 162, 245, 0.5);
    
    list-style-type: none;
    

    color: white;
}

.duration  {
    align-self: flex-end;
}
#playThis {
    max-width: 2em;
    max-height: 2em;

}

aside {
    align-self: flex-end; 
}

.Btn {
    height: 45px;
    margin: 1em;
    color: white;
    padding: .25rem;
    max-width: 4em;
    max-height: 4em;
    background-color: #242424;
    border: none;
    border-radius: 2em;
    box-shadow: 25px 25px 50px rgba(13, 39, 80, .8), -1px -5px 10px rgba(200, 200, 200, .5),
        0 0 0 6px rgba(155, 13, 234, 1);
}

button {
    padding: 1em;
    color: white;
    background-color: #242424;
    border: none;
    border-radius: 45px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .4), -1px -4px 5px rgba(52, 52, 52, .7);
    outline: none;
    }
/* Slider volume*/
input {
    color: black;
}

input[type="range"] {
    align-self: flex-end;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #474747;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
 }

 input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 1em;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgba(155, 13, 234, 1);
    border: thick solid rgba(255, 255, 255, 0.4);
  }